<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Update Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item>
          <ion-input placeholder="Enter Title (optional)" [(ngModel)]="content.contacttitle"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea rows="6" [(ngModel)]="content.contactDetails" placeholder="Enter details here..."></ion-textarea>
        </ion-item>
  </ion-list>
  <ion-button color="primary" expand="full" (click)="updateContent()">Update</ion-button>
</ion-content>