<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
    <ion-title>Cat Hotel Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
	<ion-list>
		<ion-item>
		  <!-- <ion-label position="floating">NAME  </ion-label> -->
      <ion-input placeholder=" Name" [(ngModel)]="bookinghotel.customerName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Contact Number" [(ngModel)]="bookinghotel.contactNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Cat Name" [(ngModel)]="bookinghotel.catName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Remark" [(ngModel)]="bookinghotel.remark"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-item>
            <ion-label>CHECK IN DATE</ion-label>
            <ion-input>
                <ion-datetime displayFormat="MMM DD, YYYY" pickerFormat="DDDD MMMM YYYY" placeholder="Select Date" value=(DateTime.Now) [(ngModel)]="todate" min = {{todate}} max="2025" [(ngModel)]="bookinghotel.checkInDate"></ion-datetime>
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label>TIME IN</ion-label>
            <ion-input>
                <ion-datetime display-format="h:mm A" picker-format="h:mm A" placeholder="Select Time" [(ngModel)]="bookinghotel.timeIn"></ion-datetime>
            </ion-input>
        </ion-item>
      </ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label>CHECK OUT DATE</ion-label>
          <ion-input>
              <ion-datetime displayFormat="D/MM/YYYY" pickerFormat="DDDD MMMM YYYY" placeholder="Select Date"  min = {{todate}} max="2025" [(ngModel)]="bookinghotel.checkOutDate"></ion-datetime>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>TIME OUT</ion-label>
          <ion-input>
              <ion-datetime display-format="h:mm A" picker-format="h:mm A" placeholder="Select Time" [(ngModel)]="bookinghotel.timeOut"></ion-datetime>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- <ion-item>
      <ion-checkbox slot="start" ></ion-checkbox>
      <ion-label>Add cat food in booking.</ion-label>
    </ion-item> -->
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-button (click)="submitBookingHotel()" fill="solid" expand="block" size="med" color="primary">Confirm</ion-button>
      </ion-col>
      <ion-col>
        <ion-button [routerLink]="['/menuhotel']" fill="solid" expand="block" size="med" color="warning" >Cancel</ion-button>
      </ion-col>
    </ion-row>
    
</ion-content>

<!-- [routerLink]="'/receipthotel/'+bookinghotel.id"  -->