<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
    <ion-title>Cat Hotel Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
	<ion-list>
		<ion-item>
		  <!-- <ion-label position="floating">NAME  </ion-label> -->
      <!-- <ion-input type="text" [(ngModel)]="username"></ion-input> -->
      <ion-input placeholder=" Name" [(ngModel)]="bookinghotel.customerName"></ion-input>
    </ion-item>
    <ion-item>
		  <!-- <ion-label position="floating">CONTACT NUMBER  </ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input> -->
      <ion-input placeholder="Contact Number" [(ngModel)]="bookinghotel.contactNumber"></ion-input>
    </ion-item>
    <ion-item>
		  <!-- <ion-label position="floating">CAT NAME  </ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input> -->
      <ion-input placeholder="Cat Name" [(ngModel)]="bookinghotel.catName"></ion-input>
    </ion-item>
    <ion-item>
		  <!-- <ion-label position="floating">REMARK  </ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input> -->
      <ion-input placeholder="Remark" [(ngModel)]="bookinghotel.remark"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-item>
            <ion-label>CHECK IN DATE</ion-label>
            <ion-input>
                <ion-datetime value="19-02-1990" placeholder="Select Date"  [(ngModel)]="bookinghotel.checkInDate"></ion-datetime>
            </ion-input>
          <!-- <ion-input placeholder="Check In Date" [(ngModel)]="bookinghotel.checkInDate"></ion-input> -->
        </ion-item>

        <ion-item>
            <ion-label>TIME IN</ion-label>
            <ion-input>
                <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"  [(ngModel)]="bookinghotel.timeIn"></ion-datetime>
            </ion-input>
        </ion-item>
      </ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label>CHECK OUT DATE</ion-label>
          <ion-input>
              <ion-datetime value="19-02-1990" placeholder="Select Date"  [(ngModel)]="bookinghotel.checkOutDate"></ion-datetime>
          </ion-input>
          <!-- <ion-input placeholder="Check Out Date" [(ngModel)]="bookinghotel.checkOutDate"></ion-input> -->
        </ion-item>

        <ion-item>
          <ion-label>TIME OUT</ion-label>
          <ion-input>
              <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"  [(ngModel)]="bookinghotel.timeOut"></ion-datetime>
          </ion-input>
          <!-- <ion-input placeholder="Check Out Time" [(ngModel)]="bookinghotel.timeOut"></ion-input> -->
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- <ion-item>
      <ion-checkbox slot="start" ></ion-checkbox>
      <ion-label>Add cat food in booking.</ion-label>
    </ion-item> -->
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="full" [routerLink]="'/receipthotel/'+bookinghotel.id" (click)="submitBookingHotel()">Confirm</ion-button>
        <!-- <ion-button fill="outline" slot="end" [routerLink]="'/view-product/'+product.id">View</ion-button> -->
        <!-- <ion-button [routerLink]="['/receipthotel']" fill="solid" expand="block" size="med" color="primary">Confirm</ion-button> -->
      </ion-col>
      <ion-col>
        <ion-button [routerLink]="['/menuhotel']" fill="solid" expand="block" size="med" color="warning" >Cancel</ion-button>
      </ion-col>
    </ion-row>
    
    <!-- <ion-button fill="solid" expand="block" color="dark" (click)="login()">Continue</ion-button> -->
</ion-content>