<ion-header>
  <ion-toolbar>
    <ion-title>Cat Spa & Grooming Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-item-divider color="dark">
        <ion-label>
          Short Hair Breed
        </ion-label>
      </ion-item-divider> -->

      <ion-item-divider>
          <ion-label>
              Short Hair Breed
          </ion-label>
        </ion-item-divider>

      <ion-card>
          <ion-item>
              <ion-card-header>
                  <ion-card-title>Normal Spa & Groom</ion-card-title>
                  <ion-card-subtitle>RM25</ion-card-subtitle>
                </ion-card-header>
              <ion-label>
                <p>Nail cut, remove lice, ear cleansing and cat shower for SHORT HAIR cat breed.</p>
              </ion-label>
              <ion-button size="med" [routerLink]="['/bookinghotel']" fill="solid" expand="block" color="dark" (click)="hotelbooking()">Book</ion-button>
            </ion-item>
      </ion-card>
      <ion-card>
          <ion-item>
              <ion-card-header>
                  <ion-card-title>Med Spa & Groom</ion-card-title>
                  <ion-card-subtitle>RM28</ion-card-subtitle>
                </ion-card-header>
              <ion-label>
                <p>Nail cut, remove lice, ear cleansing and cat shower for SHORT HAIR cat breed.</p>
              </ion-label>
              <ion-button size="med" [routerLink]="['/bookinghotel']" fill="solid" expand="block" color="dark" (click)="hotelbooking()">Book</ion-button>
            </ion-item>
      </ion-card>

      <ion-item-divider>
          <ion-label>
            Long Hair Breed
          </ion-label>
        </ion-item-divider>
      <ion-card>
          <ion-item>
              <ion-card-header>
                  <ion-card-title>Normal Spa & Groom</ion-card-title>
                  <ion-card-subtitle>RM35</ion-card-subtitle>
                </ion-card-header>
              <ion-label>
                  <p>Nail cut, remove lice, ear cleansing and cat shower for LONG HAIR cat breed.</p>
              </ion-label>
              <ion-button size="med" [routerLink]="['/bookinghotel']" fill="solid" expand="block" color="dark" (click)="hotelbooking()">Book</ion-button>
            </ion-item>
      </ion-card>
      <ion-card>
          <ion-item>
              <ion-card-header>
                  <ion-card-title>Med Spa & Groom</ion-card-title>
                  <ion-card-subtitle>RM38</ion-card-subtitle>
                </ion-card-header>
              <ion-label>
                <p>Nail cut, remove lice, ear cleansing and cat shower for LONG HAIR cat breed.</p>
              </ion-label>
              <ion-button size="med" [routerLink]="['/bookinghotel']" fill="solid" expand="block" color="dark" (click)="hotelbooking()">Book</ion-button>
            </ion-item>
      </ion-card>

</ion-content>
