<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button icon="arrow-back-outline"></ion-back-button>
          </ion-buttons>
      <ion-title>Edit Profile</ion-title>
      <ion-buttons size="medium" slot="end" (click)="onLogout()">
          <ion-icon name="exit-outline"></ion-icon>
        </ion-buttons>
        
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
    <!-- <app-loading *ngIf="busy"></app-loading> --> 
    <ion-grid>
  
    <div *ngIf="!busy">
  
      <input type="file" #fileBtn class="filebtn" (change)="uploadPic($event)" />
  
      <div>
        <ion-img class="profile-pic" src="https://ucarecdn.com/{{ profilePic }}/-/scale_crop/150x150/center/"></ion-img>
        <ion-button  (click)="updateProfilePic()">Change</ion-button>
      </div>
  
  
      <div class="profile-info">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input [(ngModel)]="username"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating">New Password?</ion-label>
          <ion-input [(ngModel)]="newpassword"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating">Enter old password</ion-label>
          <ion-input [(ngModel)]="password"></ion-input>
        </ion-item>

        <!-- <ion-item>
            <ion-label position="floating">Enter Contact Number</ion-label>
            <ion-input [(ngModel)]="contact"></ion-input>
        </ion-item>

          <ion-item>
              <ion-label position="floating">Enter New Address</ion-label>
              <ion-input [(ngModel)]="address"></ion-input>
            </ion-item> -->
  
        <ion-button fill="solid" expand="block" color="dark" (click)="updateDetails()">Save</ion-button>
      </div>
    </div>
  </ion-grid>
  </ion-content>