<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
    <ion-title>Cat Service Booking</ion-title>
  </ion-toolbar>
</ion-header>

    <ion-content padding class="background">
        <form class="form" [formGroup]="validations_form"  (ngSubmit)="submitBookingSpa(validations_form.value)">
        <ion-list>
            <ion-row>
                <ion-col>
                    <ion-item>Type: {{spa.spaName}}</ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>Price: RM{{spa.spaPrice}}</ion-item>
                </ion-col>
                </ion-row>
          <ion-item>
            <ion-input placeholder=" Name" formControlName="customerName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Contact Number" formControlName="contactNumber"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Cat Name" formControlName="catName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Remark" formControlName="remark"></ion-input>
          </ion-item>
          <ion-row>
            <ion-col>
              <ion-item>
                  <ion-label>DATE</ion-label>
                  <ion-input>
                      <ion-datetime displayFormat="D/MM/YYYY" pickerFormat="DDDD MMMM YYYY" placeholder="Select Date" formControlName="date"></ion-datetime>
                  </ion-input>
              </ion-item>
            </ion-col>
            <ion-col>    
              <ion-item>
                  <ion-label>TIME</ion-label>
                  <ion-input>
                      <ion-datetime display-format="h:mm A" picker-format="h:mm A" placeholder="Select Time" formControlName="time"></ion-datetime>
                  </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          </ion-list>
          <ion-row>
            <ion-col>
                <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid" fill="solid" expand="block" size="med" color="primary">Confirm</ion-button>
                <!-- <ion-button (click)="submitBookingSpa()" fill="solid" expand="block" size="med" color="primary">Confirm</ion-button> -->
            </ion-col>
            <ion-col>
              <ion-button [routerLink]="['/menuspa']" fill="solid" expand="block" size="med" color="warning" >Cancel</ion-button>
            </ion-col>
          </ion-row>
          </form>
      </ion-content>
