<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
    <ion-title>Cat Service Booking</ion-title>
  </ion-toolbar>
</ion-header>

    <ion-content padding class="background">
        <ion-list>
          <ion-item>
            <ion-input placeholder=" Name" [(ngModel)]="bookingspa.customerName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Contact Number" [(ngModel)]="bookingspa.contactNumber"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Cat Name" [(ngModel)]="bookingspa.catName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Remark" [(ngModel)]="bookingspa.remark"></ion-input>
          </ion-item>
          <ion-row>
            <ion-col>
              <ion-item>
                  <ion-label>DATE</ion-label>
                  <ion-input>
                      <ion-datetime displayFormat="D/MM/YYYY" pickerFormat="DDDD MMMM YYYY" placeholder="Select Date"  [(ngModel)]="bookingspa.date"></ion-datetime>
                  </ion-input>
              </ion-item>
            </ion-col>
            <ion-col>    
              <ion-item>
                  <ion-label>TIME</ion-label>
                  <ion-input>
                      <ion-datetime display-format="h:mm A" picker-format="h:mm A" placeholder="Select Time" [(ngModel)]="bookingspa.time"></ion-datetime>
                  </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <!-- <ion-item>
            <ion-checkbox slot="start" ></ion-checkbox>
            <ion-label>Add cat food in booking.</ion-label>
          </ion-item> -->
          </ion-list>
          <ion-row>
            <ion-col>
                <ion-button (click)="submitBookingSpa()" fill="solid" expand="block" size="med" color="primary">Confirm</ion-button>
            </ion-col>
            <ion-col>
              <ion-button [routerLink]="['/menuspa']" fill="solid" expand="block" size="med" color="warning" >Cancel</ion-button>
            </ion-col>
          </ion-row>
      </ion-content>

<!-- <ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
    <ion-title>Cat Service Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
	<ion-list>
		<ion-item>
		  <ion-label position="floating">NAME  </ion-label>
		  <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
		  <ion-label position="floating">CONTACT NUMBER  </ion-label>
		  <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
		  <ion-label position="floating">CAT NAME  </ion-label>
		  <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
		  <ion-label position="floating">REMARK  </ion-label>
		  <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label> DATE</ion-label>
          <ion-datetime value="19-02-1990" placeholder="Select Date"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>TIME</ion-label>
          <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-checkbox slot="start" ></ion-checkbox>
      <ion-label>Add cat food in booking.</ion-label>
    </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/receiptservice']" fill="solid" expand="block" size="med" color="primary">Confirm</ion-button>
      </ion-col>
      <ion-col>
        <ion-button [routerLink]="['/booking']" fill="solid" expand="block" size="med" color="warning" >Cancel</ion-button>
      </ion-col>
    </ion-row>
    
    <ion-button fill="solid" expand="block" color="dark" (click)="login()">Continue</ion-button> 
</ion-content> -->