<ion-header>
  <ion-toolbar>
    <ion-title>Cat Vaccine Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
    <ion-card>
        <ion-item>
            <ion-thumbnail slot="start">
              <ion-img size="large" src="assets/img/cat.png"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h3>Cat Vaccine</h3>
              <p>RM50</p>
            
            </ion-label>
            
          </ion-item>
          <ion-button class="button" size="med" [routerLink]="['/bookinghotel']" fill="solid" expand="block" color="dark">Book</ion-button>
    </ion-card>
  
    <ion-card>
        <ion-item>
            <ion-thumbnail slot="start">
              <img src="assets/img/cat.png" width="38%" height="18%">
            </ion-thumbnail>
            <ion-label>
              <h3>Cat Neuter</h3>
              <p>RM150</p>
              <p>Female Cat</p>
            </ion-label>
            <ion-button size="med" [routerLink]="['/bookinghotel']" fill="solid" expand="block" color="dark">Book</ion-button>
          </ion-item>
    </ion-card>
  
    <ion-card>
        <ion-item>
            <ion-thumbnail slot="start">
              <img src="assets/img/cat.png" width="38%" height="18%">
            </ion-thumbnail>
            <ion-label>
              <h3>Cat Neuter</h3>
              <p>RM100</p>
              <p>Male Cat</p>
            </ion-label>
            <ion-button size="med" [routerLink]="['/bookinghotel']" fill="solid" expand="block" color="dark">Book</ion-button>
          </ion-item>
    </ion-card>
</ion-content>
