<ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-title>Contact</ion-title>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" class="background">
       <ion-list>
          <ion-card>
            <ion-item *ngFor="let content of (contentItem | async)">
              <ion-slides>
                <ion-slide>
                  <div class="slide">
                    <!-- <img src="assets/img/logo.png"/> -->
                    <!-- <ion-icon name="call" slot="start"></ion-icon> -->
                    <h2>{{content.contacttitle}}</h2>
                    <p>{{content.contactDetails}}</p>
                    <ion-button *ngIf="isAdmin" fill="outline" slot="end" [routerLink]="'/view-contact/'+content.id">Edit</ion-button>
                  </div>
                
                </ion-slide>
              </ion-slides>
            </ion-item>  
          </ion-card>
   
       </ion-list>
  
       <ion-fab *ngIf="isAdmin" vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button [routerLink]="'/add-contact'">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
  </ion-content>
  
    <!-- <ion-footer>
      <ion-toolbar color="dark">
        <ion-title>Footer</ion-title>
      </ion-toolbar>
    </ion-footer> -->
  
  
  
  