<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
    <ion-title>Cat Grab Menu (Admin)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-row size-lg="10" offset-md="3">
      <ion-col size-md="6" >
          <div>
          
              <ion-card>
                  <ion-item>
                        <ion-col>
                            <ion-img class="img" src="assets/img/car 1.png"></ion-img>
                        </ion-col>
              
                    <ion-col>
                        <ion-text>
                            <h3>Skudai Area</h3>
                            <h2>RM5</h2>
                          <p>Delivery for cat aroud Skudai area.</p>
                          </ion-text>
                    </ion-col>  
                   
                      <ion-button class="button" size="med" [routerLink]="['/bookinghotel']" fill="solid" expand="block" color="dark" >Book</ion-button>
                    </ion-item>
              </ion-card>
          </div>
      </ion-col>

            <ion-col  size-md="6" >
              <div>
                  <ion-card>
                      <ion-item>
                            <ion-col>
                                <ion-img class="img" src="assets/img/car.png"></ion-img>
                            </ion-col>
                  
                        <ion-col>
                            <ion-text>
                                <h3>Outside Skudai</h3>
                                <h2>RM10</h2>
                              <p>Delivery for cat other than Skudai area.</p>
                              </ion-text>
                        </ion-col>  
                        <ion-col size-sm="3"><ion-button size="med" [routerLink]="['/bookinghotel']" fill="solid" expand="block" color="dark" >Book</ion-button></ion-col> 
                        </ion-item>
                  </ion-card>
              
              </div>
               
            </ion-col>

        
  </ion-row>
  
  
  
</ion-content>
