<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Update Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item>
          <ion-input placeholder="Enter Product Name" [(ngModel)]="product.productName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea rows="6" [(ngModel)]="product.productDetails" placeholder="Enter product details here..."></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Enter Product Price" [(ngModel)]="product.productPrice"></ion-input>
        </ion-item>
  </ion-list>
  <ion-button color="primary" expand="full" (click)="updateProduct()">Update</ion-button>
</ion-content>
