<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Update Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <div *ngIf="!busy">
        <ion-item>
            <input type="file" #fileBtn class="filebtn" (change)="uploadPic($event)" />
            <div>
              <ion-img class="profile-pic" src="https://ucarecdn.com/{{ productPic }}/-/scale_crop/150x150/center/"></ion-img>
              <ion-button  (click)="updateProductPic()">Change</ion-button>
            </div>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Enter Product Name" [(ngModel)]="product.productName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea rows="6" [(ngModel)]="product.productDetails" placeholder="Enter product details here..."></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Enter Product Pricein RM" [(ngModel)]="product.productPrice"></ion-input>
        </ion-item>
      </div> 
  </ion-list>
  <ion-button color="primary" expand="full" (click)="updateProduct()">Update</ion-button>
</ion-content>
