<ion-app>
  <ion-menu side="start" menuId="page" contentId="content1">
    <ion-header>
      <ion-toolbar>
        <ion-item>
          <ion-label>
            <b>Welcome: User</b>
          </ion-label>
        </ion-item>
      </ion-toolbar>   
    </ion-header>

    <ion-content>
      <ion-list *ngFor="let page of pages">
        <ion-menu-toggle auto-hide="true">
          <ion-item (click)="Goto(page)">
            <ion-icon [name]="page.icon" slot="start"></ion-icon>
            <ion-label>{{page.pagename}}</ion-label>
          </ion-item>
          
        </ion-menu-toggle>
      </ion-list>
      <ion-list>
        <ion-item (click)= "onLogout()">
          <ion-icon name="exit" slot="start"></ion-icon>
          <ion-label>Log Out</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
