<!-- Cat Spa Menu -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Cat Product Menu - Admin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="title-block">
    <div class="heading">Cat Hotel</div>
  </div> -->
  
  <ion-list>
    <ion-list-header>
      <ion-label>Product and Accessories</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let product of (catProduct | async)">
      <ion-thumbnail slot="start">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-thumbnail>
      <ion-label>
        <h2>{{product.productName}}</h2>
        <p>{{product.productDetails}}</p>
        <p>{{product.productPrice}}</p>
      </ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="'/view-product/'+product.id">View</ion-button>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="'/add-product'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
