<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button icon="arrow-back-outline"></ion-back-button>
          </ion-buttons>
      <ion-title>Update Content</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
        <ion-item>
            <input type="file" #fileBtn class="filebtn" (change)="uploadPic($event)"/>
              <div *ngIf="!content.image">
                <ion-img class="profile-pic" (click)="updateProfilePic()" src="assets/defaultPic.png"></ion-img>
              </div>
              <div *ngIf="content.image">
              <ion-img class="profile-pic" (click)="updateProfilePic()" [src]="content.image"></ion-img>
            </div>
          </ion-item> 
        <ion-item>
            <ion-input placeholder="Enter Title (optional)" [(ngModel)]="content.title"></ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea rows="6" [(ngModel)]="content.contentDetails" placeholder="Enter details here..."></ion-textarea>
          </ion-item>
    </ion-list>
    <ion-button color="primary" expand="full" (click)="updateContent()">Update</ion-button>
  </ion-content>