<ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{spa.spaName}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card color="secondary">
      <ion-card-header>
        <ion-card-subtitle>{{spa.createdAt | date: 'short'}}</ion-card-subtitle>
        <ion-card-title>{{spa.spaName}}</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <p align="justify">{{spa.spaDetails}}</p>
        <br>
        <p align="justify">{{spa.spaPrice}}</p>
        <ion-button slot="start" color="warning" [routerLink]="'/update-spa/' + spa.id">Edit</ion-button>
        <ion-button slot="end" color="danger" (click)="deleteSpa()">Delete</ion-button>
      </ion-card-content>
  
    </ion-card>
  </ion-content>
  