<ion-header>
    <ion-toolbar color="dark">
      <ion-title>New Content</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  <!-- <ion-list> -->
      
      <ion-item>
          <input type="file" #fileBtn class="filebtn" (change)="uploadPic($event)"/>
            <div *ngIf="!content.image">
              <ion-img class="profile-pic" (click)="updateProfilePic()" src="assets/defaultPic.png"></ion-img>
            </div>
            <div *ngIf="content.image">
            <ion-img class="profile-pic" (click)="updateProfilePic()" [src]="content.image"></ion-img>
          </div>
        </ion-item> 

      <!-- <div class="content-info"> -->
          <ion-item>
              <ion-input placeholder="Enter Content Title" [(ngModel)]="content.title"></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea rows="6" [(ngModel)]="content.contentDetails" placeholder="Enter content details here..."></ion-textarea>
            </ion-item>
      <!-- </div> -->
    
  <!-- </ion-list> -->
    <ion-button color="primary" expand="full" (click)="addContent()">Add to Dashboard</ion-button>
  </ion-content>