<ion-header>
  <ion-toolbar>
    <ion-title>Cat Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-row>
  <ion-col size-md="6">
    <ion-button [routerLink]="['/menuhotel']" fill="solid" expand="block" color="dark" >Cat Boarding</ion-button>
  </ion-col>
  <ion-col>
    <ion-button [routerLink]="['/menuspa']" fill="solid" expand="block" color="dark" >Cat Spa & Grooming</ion-button>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size-md="6">
    <ion-button [routerLink]="['/menugrab']" fill="solid" expand="block" color="dark" >Cat Grab</ion-button>
  </ion-col>
  <ion-col>
    <ion-button [routerLink]="['/menuvaccine']" fill="solid" expand="block" color="dark">Cat Vaccine & Neuter</ion-button>
  </ion-col>
</ion-row>
</ion-content>
